{% extends 'base.html.twig' %}

{% block title %}Compétences{% endblock %}

{% block body %}
    <main class="">
        <div class="left-side ">
            <div class="title d-flex justify-content-between align-items-center">
                <div class="left-line"></div>
                <h1 class="title-princ">Compétences</h1>
                <div class="right-line"></div>
            </div>
            <h2 class="title-second">Back</h2>
            <p class="text-princ">
              <ul>
                <li>PHP 7 et POO</li>
                <li>Symphony 5</li>
                <li>Architecture MVC, CRUD et BREAD</li>
                <li>API Rest</li>
                <li>Base données, SQL (Maria DB)</li>
                <li>Adminer</li>
                <li>Lumen (micro-framework Laravel)</li>
              </ul>           
            </p>

            <h2 class="title-second">Front</h2>
            <p class="text-princ">
              <ul>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Responsives Web Design</li>
                <li>JS Vanilla</li>
                <li>Bootstrap</li>
              </ul>
            </p>

            <h2 class="title-second">Autres</h2>
            <p class="text-princ">
              <ul>
                <li>Capacités rédactionnelles</li>
                <li>Méthode Agile (SCRUM)</li>
                <li>Linux et lignes de commandes</li>
                <li>GIT</li>
                <li>Base Wordpress</li>
                <li>Anglais</li>
              </ul>
            </p>
        </div>

        <div class="right-side">
            <div class="circle circle--skill"></div>
        </div>
    </main>

  
{% endblock %}
