{% extends 'base.html.twig' %}

{% block title %}Expériences{% endblock %}

{% block body %}

    <main class="">
        <div class="left-side ">
            <div class="title d-flex justify-content-between align-items-center">
                <div class="left-line"></div>
                <h1 class="title-princ">Expériences</h1>
                <div class="right-line"></div>
            </div>

            <div class="timeline-container">

              <div class="timeline-block timeline-block-right">
                <div class="marker"></div>
                <div class="timeline-content">
                  <h3>Mai 2021 : Projet de fin d'étude d'un mois : Care The World</h3>
                  <span>O'Clock </span>  <img src="../assets/img/oclock.png" alt="" width="30" height="30">
                  <p>Réalisation d’un projet sur le thème de l’environnement, dans une équipe de 5 personnes. Ce site permet à des utilisateurs de créer des évènements nature sur différents thèmes (plantation, nettoyage nature, construction d’abris, sortie pédagogique, potager participatif, etc.) près de chez eux. D’autres utilisateurs pourront chercher des évènements qui les intéressent (selon le lieux ou le thème) et s’y inscrire ou échanger entre eux. Technologie principale : Symfony.</p>
                </div>
              </div>

              <div class="timeline-block timeline-block-left">
                <div class="marker"></div>
                <div class="timeline-content">
                  <h3>Mars-Aout 2019 : Stage de 6 mois</h3>
                  <img src="../assets/img/onf.svg.png" alt="" width="50" height="20"> <span>ONF (Office National des Forêts) RDI, Dole</span>
                  <p>Evaluation, à l’échelle d’une révolution forestière complète, de l’effet de la préparation mécanisée du sol sur la dynamique de la biomasse aérienne et sur le stockage de carbone dans l’écosystème forestier (projet CAPSOL).</p>
                  <p>Tutrice : Emila AKROUME</p>
                </div>
              </div>

              <div class="timeline-block timeline-block-right">
                <div class="marker"></div>
                <div class="timeline-content">
                  <h3>Avril-Juillet 2018 : Stage de 4 mois</h3>
                  <span>CEF (Centre d'Etude de la Forêt), Montréal</span>
                  <img src="../assets/img/cef.png" alt="" width="30" height="30">
                  <p>Effets de stress typiques de milieux urbains sur la quantité et la croissance des racines d’arbres urbains.</p>
                  <p>Tuteur : Christian MESSIER</p>
                </div>
              </div>

              <div class="timeline-block timeline-block-left">
                <div class="marker"></div>
                <div class="timeline-content">
                  <h3>Avril-Juin 2017 : Stage de 8 semaines</h3>
                  <img src="../assets/img/ecodiv.png" alt="" width="30" height="30">  <span>Laboratoire ECODIV, Rouen</span>
                  <p>Effet des prélèvements de rémanents forestiers sur l’activité microbienne et sur la biomasse en carbone microbien (Projet RESPIRE).</p>
                  <p>Tuteur : François ELIE</p>
                </div>
              </div>
            </div>
        </div>

        <div class="right-side">
            <div class="rect"></div>
        </div>
    </main>

   
{% endblock %}
