{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}

    <main class="">
        <div class="left-side ">
            <div class="title d-flex justify-content-between align-items-center">
                <div class="left-line"></div>
                <h1 class="title-princ">Formation</h1>
                <div class="right-line"></div>
            </div>

            <div class="timeline-container">

              <div class="timeline-block timeline-block-right">
                <div class="marker"></div>
                <div class="timeline-content">
                  <h3>2021</h3>
                  <p>Formation de 6 mois Développement Web (HTML5, CSS3, JS, PHP 7, Symfony 5) </p>
                  <span>O'Clock</span>
                </div>
              </div>

              <div class="timeline-block timeline-block-left">
                <div class="marker"></div>
                <div class="timeline-content">
                  <h3>2019</h3>
                  <p>Master Gestion de l’Environnement, Gestion de la Biodiversité dans les Ecosystèmes Terrestres</p>
                  <span>Université de Rouen Normandie</span>
                </div>
              </div>

              <div class="timeline-block timeline-block-right">
                <div class="marker"></div>
                <div class="timeline-content">
                  <h3>2017</h3>
                  <p>Licence Ecologie Biologie des Organismes</p>
                  <span>Université de Rouen Normandie</span>
                </div>
              </div>

              <div class="timeline-block timeline-block-left">
                <div class="marker"></div>
                <div class="timeline-content">
                  <h3>2013</h3>
                  <p>Baccalauréat scientifique</p>
                  <span>Lycée Thomas Corneille</span>
                </div>
              </div>
            </div>
        </div>

        <div class="right-side">
            <div class="rect--form"></div>
        </div>
    </main>

    
{% endblock %}
