{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <main class="">
        <div class="left-side ">
            <div class="title d-flex justify-content-between align-items-center">
                <div class="left-line"></div>
                <h1 class="title-princ">Sonia Carmon</h1>
                <div class="right-line"></div>
            </div>
            <h2 class="title-second">Développeuse Web, Spécialisation Symfony</h2>
            <p class="text-princ">Bonjour blabla je suis Sonia Carmon, j'ai 26 ans. Je suis Développeuse Web Spécialisée en Symfony. J'aime les manga et la pâtisserie, si vous voulez en apprendre plus Scroll ou navigue !</p>
        </div>

        <div class="right-side">
            <div class="circle circle--home">
            
            </div>
        </div>
    </main>


{% endblock %}
