{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}

    <main class="">
        <div class="left-side ">
            <div class="title d-flex justify-content-between align-items-center">
                <div class="left-line"></div>
                <h1 class="title-princ">Projets</h1>
                <div class="right-line"></div>
            </div>
            <h2 class="title-second">Projet de fin de formation : <a class="ctw" target="_blank" href="http://caretheworld.fr/">CareTheWorld</a> (en construction)</h2>
            <p class="text-princ">Réalisation d’un projet sur le thème de l’environnement, dans une équipe de 5 personnes.</p>
            <p class="text-princ"> 
            Ce site permet à des utilisateurs de créer des évènements nature sur différents thèmes (plantation, nettoyage nature, construction d’abris, sortie pédagogique, potager participatif, etc.) près de chez eux.</p> 
            <p class="text-princ">D’autres utilisateurs pourront chercher des évènements qui les intéressent (selon le lieux ou le thème) et s’y inscrire ou échanger entre eux. Technologie principale : Symfony.</p>
        </div>

        <div class="right-side">
            <div class="circle circle--home">
            
            </div>
        </div>
    </main>


{% endblock %}
